!!!
html	
	head
		title yoemie.chat
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/layout.css')
		link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js')
		script(src='http://localhost:3000/nowjs/now.js')
		script(src='/javascripts/global.js')
		script
			var profile_id = "!{profile_from}";
	body!= body